#TB_ajaxContent .recras-notice {
    background: hsl(209, 40%, 90%);
    border-left: 3px solid hsl(209, 80%, 60%);
    padding-left: 1em !important;
}
#TB_window #adminmenumain, #TB_window #wpfooter {
    display: none;
}
#TB_window #wpcontent {
    margin-left: 0;
}

.recrasOptionsList, .recrasOptionsList ol {
    list-style-type: disc;
}
