.components-toggle-control .components-base-control__field {
    align-items: center; /* Fix default alignment */
}
.editor-styles-wrapper p.recrasInfoText {
    background: #f3f4f5;
    border-left: 5px solid hsl(199, 73%, 43%);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 0;
    padding: 0.5em;
}

.components-base-control + .packageList,
.packageList + .packageList,
.packageList > .components-base-control__field {
    margin-bottom: 0;
}
