.recras-onlinebooking input, .recras-onlinebooking select, .recras-onlinebooking button, .recras-onlinebooking textarea {
    font: inherit;
    height: auto;
    padding: 0.5em;
}
.recras-onlinebooking input, .recras-onlinebooking select, .recras-onlinebooking button {
    line-height: 1;
}
.recras-onlinebooking textarea {
    line-height: 1.25;
}

.recras-onlinebooking input, .recras-onlinebooking select, .recras-onlinebooking textarea {
    background: #fff;
    border: 1px solid hsl(205, 63%, 56%);
    width: 100%;
}
.recras-onlinebooking button {
    background: hsl(205, 63%, 56%);
    border: 1px solid hsl(205, 63%, 56%);
    color: white;
    text-transform: uppercase;
}
.recras-onlinebooking button:hover, .recras-onlinebooking button:active {
    background-color: hsl(205, 63%, 68%);
}
.recras-onlinebooking button[type="submit"] {
    font-size: 1.2em;
    margin-top: 0.5em;
    padding: 0.5em 1em;
}

.recras-onlinebooking h3 {
    background: hsl(205, 63%, 56%);
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    letter-spacing: normal;
    margin: 0;
    padding: 1rem;
}

.recras-amountsform > div:first-of-type {
    margin-top: 1rem;
}

.recras-onlinebooking > *:not(.recrasLoadingIndicator) {
    border-top: none !important;
    /*padding: 0 !important;*/
}
.recras-onlinebooking > * + * {
    margin-top: 2em;
}
p:empty {
    margin: 0;
}
.recras-contactform input:not([type="checkbox"]):not([type="radio"]), .recras-contactform select, .recras-contactform textarea {
    width: 22em;
}
.recras-onlinebooking input[type="checkbox"], .recras-onlinebooking input[type="radio"] {
    margin-right: 0.5em;
}

.recras-amountsform {
    padding: 0 0 1.5rem 0 !important;
}
.recras-amountsform input {
    width: 8em;
}
.recras-amountsform p {
    padding: 0;
}
.priceWithoutDiscount {
    font-weight: bold;
}
.recras-onlinebooking > div.recras-datetime,
.recras-contactform > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 12em;
    grid-template-columns: 1fr 12em;
}

@media all and (min-width: 641px) {
    .recras-discounts button, .recras-discounts button {
        margin-left: 0.5em;
    }
}
.recras-onlinebooking-date, .recras-onlinebooking-time {
    width: 200px;
}
.recras-datetime .recrasLoadingIndicator {
    height: 1em;
    margin-left: 0.5em;
    width: 1em;
}

.recras-discounts {
    padding-bottom: 0 !important;
}
.recras-discounts {
    margin-top: 0;
    padding-top: 0 !important;
}
.standard-attachments p {
    margin-bottom: 0.5em;
}


.recras-onlinebooking button:not(:disabled) {
    cursor: pointer;
}
.recras-onlinebooking button:disabled {
    cursor: not-allowed;
}
.recras-amountsform > div > div:first-child {
    flex-basis: calc(100% - 15em);
}
.recras-price, .priceSubtotal {
    flex-basis: 8em;
    text-align: right;
}
.recras-contactform-required::after {
    color: hsl(205, 63%, 56%);
    content: '*';
    cursor: help;
    margin-left: 0.125em;
}
.recras-product-dependency, .maximum-amount, .minimum-amount {
    color: #a00;
    display: block;
}
input[type].recras-input-invalid {
    border-color: #a00;
}

@media (max-width: 640px) {
    .recras-amountsform > div {
        grid-template-columns: 1fr 7em;
    }
    .recras-amountsform > div > div:first-child {
        grid-column: 1 / 3;
    }
    .recras-contactform > div,
    .recras-discounts > div {
        grid-template-columns: 1fr;
    }
}


/* Chrome/Safari Mac fixes */
.recras-onlinebooking input[disabled] {
    background: white !important;
}
.recras-onlinebooking select {
    border-radius: 0;
}
